@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;

}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background-color: #7F5539;
    margin: 0 auto;
    border-radius: 0px 0px 40px 40px;
    max-width: 1920px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav button {
    background-color: #DDB892;
    height: 76px;
    width: 245px;
    font-weight: 900;
    font-size: 18px;
    border: none;
    margin: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
}

nav figure img {
    scale: 0.7;
}

body {
    background-color: #EDE0D4;
    margin: 0 auto;
    max-width: 1920px;
}

.main {
    display: flex;
    flex-direction: column;
}

.shop {
    display: flex;
    justify-content: center;
    max-width: 48%;
    background-color: #7F5539;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    margin: 15px;
}

.text {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
}


.catalog-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 230px;
    height: 70px;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    background-color: #DDB892;
    transition: 0.4s;

}

.catalog-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.text img {
    max-height: 220px;
    margin-top: 15px;
    margin-left: 15px;
}

.text p {
    font-size: 16px;
    background-color: #DDB892;
    border-radius: 15px;
    padding: 15px;
    height: 75%;
    font-weight: 900;
}

.img-product {
    width: 374px;
    height: 374px;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 24px;
}

footer {
    background-color: #7F5539;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    margin-top: 100px;
}


@media (max-width: 1600px) {
    nav button {
        background-color: #DDB892;
        height: 55px;
        width: 150px;
        font-weight: 900;
        font-size: 14px;
        border: none;
        margin: 10px 20px;
    }

    article {
        text-align: center;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    figure {
        display: none;
    }

}

@media (max-width: 1400px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .shop {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-product {
        width: calc(100% - 10px);
        height: calc(100% - 30px);
    }

    .catalog-btn {
        position: absolute;
        top: 175px;
        width: calc(70% - 10px);
        height: calc(12% - 10px);
        font-size: 18px;
        border: none;
        border-radius: 15px;
        background-color: #DDB892;
        transition: 0.4s;
    }

    .text p {
        font-size: 14px;
    }

    .img-star {
        scale: 0.8;
    }
}

@media (max-width: 480px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px 0px;
    }

    nav button {
        background-color: #DDB892;
        height: 55px;
        width: 150px;
        font-weight: 900;
        font-size: 14px;
        border: none;
        margin: 10px 15px;
    }

    article {
        text-align: center;
    }

    figure {
        display: none;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

}
